<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag (title)">

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Quản lý danh sách sinh viên</title>


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/font-awesome.min.css'}"/>
    <script th:src="@{'/js/jquery.min.js'}"></script>
    <script th:src="@{'/js/bootstrap.min.js'}"></script>

</head>
</html>
