<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:include="partial/header :: headTag (title = 'Sinh viên')">
</head>
<body>
<div class="body">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{'/'}">Quản lý tài khoản sinh viên</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search" method="GET" th:action="@{'/search'}">
                    <div class="form-group">
                        <input type="text" class="form-control" th:name="name" placeholder="Nhập tên sinh viên"/>
                    </div>
                    <button type="submit" class="btn btn-default">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </nav>

    <div role="main" class="main">
        <section class="page-header">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <h1 th:text="${description}"></h1>
                    </div>
                </div>
                <div class="row">
                    <table th:if="${student}" class="table table-hover table-bordered table-responsive ">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Họ và tên</td>
                            <td th:text="${student.name}"></td>
                        </tr>
                        <tr>
                            <td>Mã sinh viên</td>
                            <td th:text="${student.code}"></td>
                        </tr>
                        <tr>
                            <td>Lớp</td>
                            <td th:text="${student.clazz}"></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td th:text="${student.phone}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="${student.email}"></td>
                        </tr>
                        <tr>
                            <td>Ngày tháng năm sinh</td>
                            <td th:text="${student.dob}"></td>
                        </tr>
                        <tr>
                            <td>Quê quán</td>
                            <td th:text="${student.location}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>


    </div><!--END class main-->
</div>
<!--END Class Body-->

</body>
</html>
